 <head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
 </head>
<h1>All articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article)%></li>
  <% end %>
</ul>

<%= link_to "New articles", new_article_path  %>
